html {
    background-color: #aad4cf;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-color: azure;
    width: 600px ;
    margin: 0 200px;
    border: 0 ;
    padding: 0;
    height: 220px;
    box-sizing: content-box;
    display: block;
}

h1 {
    color:white;
}

nav li {
    display: inline-block;
    margin: 0;
    height: 30px;
    width: 80px;
    text-align: start;
}

nav a {
    text-decoration: none;
    color: black;
    box-shadow: 1px black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    padding-left: 0;
    margin: 0;
    text-align: center;
    position: ;
}