html {
    background-color: #aad4cf;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}  
/* set font and backgound color for a whole page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* clean the default page setting */

.head {
    background-color: azure;
    position: relative; 
    width: 600px ;
    margin: 0 200px; /*no margin for vertical side, but margin for horizontal side*/
    height: 220px;
}

.head img {
    width: 100%; 
    background-size: cover;
    position: absolute; 
    top: 0;
    z-index: 1; /* put back img lowest level */
}

.head h1 {
    color: white; 
    text-align: center;
    font-size: 2.5em ;
    z-index: 2; /*h1 above the backgound img*/
}

nav li {
    display: inline-block; /*put nav menu horizontally*/
    margin: 0;
    height: 30px;
    width: 40px;
    text-align: start;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: black;
}
/* omit the underline and change color */

nav {
    position: relative; /* Default positioning, can be adjusted */
    z-index: 3; /* put nav above the background img*/
    background-color: azure;
    padding: 2px 0;
}

.home {
    margin: 0 70px 0 80px;
}

.story {
    margin: 0 70px 0 40px;
}

.contact {
    margin: 0 70px 0 20px;
}
/* calculate spacing and make nav menu look good */

.behind {
    width: 600px;
    background-position: center;
    background-size: 100% auto;
    text-align: center;
    height: 180px;
    justify-content: center; 
    align-items: flex-end; 
    display: flex ;
    background-repeat: no-repeat; 
    padding-bottom: 20px; 
}

.wrap {
    background-color: azure;
    padding: 10px ; /*different padding zone from the head*/
    margin: 0 200px 10px 200px; /*same horizontal margin as head*/
    box-sizing: border-box;
    width: 600px; /*same as the horizontal size of image in head*/
}

.bodyi {
    width: 180px;
    height: 180px;
    margin: 0 10px 10px 0; /*make margin around the image*/
    float: left; /*put image on the left side of the paragraph*/
}

main div p, ul {
    font-size: 11px;
}
/* set every fonts in the paragraph smaller */

h3 {
    margin: 20px 0 10px 0 ;
}

main li {
    margin: 0 0 0 20px;
}
/* make margin of bullet */

.square {
    box-shadow: 0 0 1px 1px black;
    margin: 5px 0 0 0;
}

form div div input {
    width:98%;
}
/* expand the size of blank space */

.up {
    margin:15px 2px 2px 2px;
}

form div {
    margin:5px;
    padding: 2px;
    font-size: 95%;
}

.message {
    height: 60px;
    font-size:16px;
    width: 98%;
    resize: none; 
}

button {
        margin: 5px 5px 10px 5px;
        width: 40px;
        height: 30px;
        background-color: azure;
        border: 0.5px solid #575454;
        font-size: 12px;
}

.footer {
    margin: 10px 0 10px 480px;
    font-size: 12px;
}