* {
    font-family: "Open Sans", sans-serif;
    width: auto;
    margin: 0;
    padding: 0;
  }

.menu {
    background-color: #c78c06;
}

.logo {
    background-color: #c78c06;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav {
    background-color: #222;
    margin: 0;
    padding: 0;
    display: block;
}

nav a {
    color:#c78c06;
    text-decoration: none;
}

nav li {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 5px 0 ;
    margin: 5px 0;
}

nav li:nth-child(1) a{
    /* background-color: #c78c06; */
    /* height: 20px; */
    width: 100%;
    /* text-align: center center; */
    display: block;
    color:#222;
}

nav li:nth-child(1){
    background-color: #c78c06;
    height: 20px;
    text-align: center center;
    /* display: block; */
    color:#222;
    padding: 15px 30px; 
}

nav li input{
    width: 92%;
}

.wrapper_head {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    display: flex;
    margin: 0 0 10px 0;
  }
  
  .head {
    background-color: hsl(0, 0%, 13%, 0.5);
    text-align: left;
    margin: 40px auto;
    background-position: center;
    color: white;
    height: 470px;
  }

.head h1 {
    font-size: 4rem;
}

  .head button {
    color: #222;
    background-color:#c78c06 ;
    padding: 20px;
    margin: 0 20px;
    font-size: 1.5rem;
}

.head i {
    color: #222;
    background-color: #c78c06;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

 .head img {
    width: 100%;
  }
 
  .about_us {
    background-color: #ffe6ac;
    width: 100%;
 }

  .about_us h2,p {
    padding: 5px;
    margin: 10px;
    text-align: left;
  }
  
  .about_us img {
    width: 97%;
    margin: 10px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.our_services {
    margin: 10px;
    width: 98%;
}

.services div {
    background-color: #ffe6ac;
    margin: 10px auto;
    padding: 0 0 50px 0;
    width: 98%;
}

.services h3 {
    padding: 5px;
    margin: 5px;
}

.services p{
    padding: 0 0 20px 0;
    margin: 10px;
}

.services button {
    color: white;
    background-color: #222;
    padding: 5px;
    margin: 10px;
    font-size: 1rem;
}

.services i {
    color: white;
    background-color: #222;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
}
 
.services img{
    width:100%;
}

.our_vision h3 {
    padding: 5px;
    margin: 10px;
    font-size: 1.5rem;
}

.our_vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
    color: white;
    padding: 10px;
}

.our_vision button {
    color: white;
    background-color: #222;
    opacity: 0.7;
    padding: 20px;
    margin: 0 20px;
    font-size: 1.5rem;
}

.our_vision i {
    color: white;
    background-color: #222;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

.our_team {
    margin: 10px;
    width: 98%;
}

.team img{
    width: 100%;
}

.team div{
    display: flex;
    background-color: #ffe6ac;
    width: 98%;
    /* margin: 0 10px; */
}

.team div article {
    margin:10px;
}

.contact_us {
    margin: 10px;
    width: 98%;
}

/* .contact {
    width: 98%;
    margin: 0 10px;
} */

.contact input, textarea {
    width: 98%;
}

.message textarea {
    font-size: 16px;
    height: 80px;
    resize: none;
}

table {
    border-collapse: collapse;    
    width: 98%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #222;
    padding: 8px;
    text-align: left;
}

th {
    background-color:#ffe6ac;
    text-align: center;
}

.location {
    display: block;
    /* justify-content: space-between;
    align-items: center; */
}

.location iframe {
    width: 98%;
    aspect-ratio: 3 / 2;
    border: 0;
}

footer {
    background-color: #222;
    color:#c78c06;
    padding: 5px;
}

@media screen and (min-width: 760px) {

    .logo {
        float: left;
        background-color: #222;
    }

    .logo img {
        width: 70px;
        padding: 20px 0;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        background-color: #222;
        height: 100px;
    }

    nav li {
        display:inline-block;
        padding: 0 auto;
        margin: 0 auto;
        width: auto;
    }

    nav a {
        display: inline-block;
        padding: 0 auto;
        margin: 0 auto;
        width: auto;
    }

    nav button {
        max-width:100px;
    }

    .head {
        width: 80%;
        height: auto;
    }

    .about_us img{
        float: left;
        width: 45%;
        padding: 5px;
        margin: 5px 5px 5px 40px;
    }
    
    .about_us {
        display: table;
        min-height: 250px;
    }

    .dt {
        grid-area: dt;
    }
    
    .mk {
        grid-area: mk;
    }

    .vd {
        grid-area: vd;
    }
    
    .wd {
        grid-area: wd;
    }

    .pt {
        grid-area: pt;
    }
    
    .services div {
        margin: 5px;
    }

    .services img {
        width: 100%;
        height: auto;
    }

    .services {
        display: grid;
        margin-left: 5%;
        max-width: 90%;
        gap: 5px;
        /* align-items: center; */
        grid-template-columns: repeat(6, 1fr); 
        grid-template-areas: 
            "dt dt dt mk mk mk"
            "vd vd wd wd pt pt" 
            ;
        /* grid-auto-columns: minmax(240px, auto); */
    }

    .services div {
        position: relative;
    }

    .services button {
        width: 90%;
        position: absolute;
        top: 85%;
        left: 2%;
    }

    /* .our_services button, p {
        display: block;
    } */

    .our_vision div{
        max-width: 600px;
        height: auto;
    }
    
    .team {
        /* height: 600px; */
        margin-left: 5%;
        max-width: 90%; 
        display: flex;
        flex-direction: row; /*column, it would be horizontal*/
        flex-wrap: wrap; /*nowrap*/
        justify-content: space-between; /*do not change order, but change the strating point + around=same margin vs evenly=same interval vs between= no margin at the end*/
        align-items: stretch;
    }

    .team img {
        object-fit: cover;     
    }

    .one {
        flex-basis: 50%;
        order: 1;
        margin: 0;
    }

    .two {
        flex-basis: 50%;
        order: 2;
        margin: 0;
    }

    .three {
        flex-basis: 50%;
        order: 4;
    }
    .four {
        flex-basis: 50%;
        order: 3;
    }

    .contact {
        display: flex;
        flex-direction: row; /*column, it would be horizontal*/
        flex-wrap: wrap; /*nowrap*/
        align-items: flex-start;
        width: 93%;
        gap: 10px;
        margin-left: 5%;
    }

   h2 {
        margin-left : 5%;
    }

    .message {
        flex-basis: calc(48% - 4px);
        order: 1;
    }

    .location {
        flex-basis: 49%;
        order: 2;
    }

    .hour {
        flex-grow: 2;
        order: 3;
        max-width: 96%;
    }
}
