/* basic style and font */
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* max width for container */
body { 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* wrap for logo and nav */
.menu {
    background-color: #c78c06;
    padding: 0;
    margin: 0;
}

 /* logo img alignment */
.logo {
    background-color: #c78c06;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* backgound setting for navigation */
.nav {
    background-color: #222;
    margin: 0;
    padding: 0;
    display: block;
}

/* nav link setting */
nav a {
    color:#c78c06;
    text-decoration: none;
}

/* nav list setting */
nav li {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding: 10px 0 ;
    margin: 0;
    margin-top: 10px;
}

/* changing the color of 'Home' */
nav li:nth-child(1) a {
    color:#222;
}

/* changing the condition of 'Home' - highlight */
nav li:nth-child(1) {
    background-color: #c78c06;
    height: 20px;
    text-align: center center;
    color:#222;
    padding: 15px 30px; 
}

/* search bar style */
nav li input {
    width: 92%;
    height: 2rem;
    margin-bottom: 3px;
}

/* icon style in nav */
nav li i {
    background-color: #222;
    color: #c78c06;
    font-size: 18px;
    padding: 7px;
    box-shadow: 0 0 0 1px #c78c06;
}

/* setting of background img  */
.wrapper_head {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
  }

/* wrap for h1 and p   */
.head {
    background-color: hsl(0, 0%, 13%, 0.7);
    text-align: left;
    margin: 60px auto;
    background-position: center;
    color: white;
    height: 450px;
}

/* heading */
.head h1 {
    font-size: 4rem;
    margin: 40px 10px;
}

/* head button  */
.head button {
    color: #222;
    background-color:#c78c06 ;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1rem;
}

/* icon in button */
.head i {
    color: #222;
    background-color: #c78c06;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

.head img {
    width: 100%;
}
 
/* about_us section */
.about_us {
    background-color: #ffe6ac;
    width: 100%;
    padding: 5px;
}

/* common font-size for h2 */
h2 {
    font-size: 2rem;
}

/* common font-size for h3 */
h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.about_us h2,p {
    padding: 5px;
    margin: 5px;
    text-align: left;
}

/* img style for about section */
.about_us img {
    width: 97%;
    margin: 10px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

/* wrap for our_services */
.our_services {
    margin: 10px;
    width: 98%;
    margin-top: 30px;
}

/* setting for individual part of our_services */
.services div {
    background-color: #ffe6ac;
    margin: 10px auto;
    padding: 0 0 10px 0;
    width: 98%;
}

.services h3 {
    padding: 5px;
    margin: 5px;
}

.services p {
    padding: 0 0 20px 0;
    margin: 10px;
}

/* setting for button of our_services */
.services button {
    color: white;
    background-color: #222;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 1rem;
}

/* setting for button of our_services */
.services i {
    color: white;
    background-color: #222;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
}

/* horizontally full sized img */
.services img{
    width:100%;
}

.our_vision h3 {
    padding: 5px;
    margin: 10px;
    font-size: 1.5rem;
}

/* background img for our_vision */
.our_vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 230px;
    color: white;
    padding: 10px;
}

/* setting for button of our_vision */
.our_vision button {
    color: white;
    background-color: #222;
    box-shadow: 0 0 0 1px #c78c06;
    opacity: 0.8;
    padding: 15px 30px;
    margin: 0 10px;
    font-size: 1rem;
}

/* setting for button of our_vision */
.our_vision i {
    color: white;
    background-color: #222;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
}

/* setting of wrap for our_team */
.our_team {
    margin: 10px;
    width: 98%;
    margin-top: 30px;
}

/* horizontally full sized img */

.team img {
    width: 100%;
}

/* div for flexbox properties */
.team div {
    display: flex;
    background-color: #ffe6ac;
    width: 98%;
}

.team h4 {
    margin: 10px;
    border-bottom: 2px solid #c78c06;
}

/* margin between 2 parts */
.team .two,.four {
    margin-bottom: 10px;
}

.team div article {
    margin:10px;
}

/* setting of wrap for contact_us */
.contact_us {
    margin: 10px;
    width: 98%;
    margin-top: 30px;
}

.contact input, textarea {
    width: 98%;
}

h2 {
    margin: 30px 0;
}

/* setting for button of contact_us */
.contact_us button {
    color: #c78c06;
    background-color: #222;
    font-size: 1rem;
    margin: 10px 0;
}

/* setting for message area */
.message textarea {
    font-size: 16px;
    height: 80px;
    resize: none;
}

/* setting for table */
table {
    border-collapse: collapse;    
    width: 98%;
    table-layout: fixed;
    font-size: 1rem;
}

/* setting for table */
th, td {
    border: 1px solid #222;
    padding: 8px;
    text-align: left;
    height: 2rem;
}

/* setting for table */
th {
    background-color:#ffe6ac;
    text-align: center;
}

.location {
    display: block;
}

.location iframe {
    width: 98%;
    aspect-ratio: 3 / 2;
    border: 0;
}

footer {
    background-color: #222;
    color:#c78c06;
    padding: 5px;
}

/* ===== responsive design (min-width: 760px) ===== */
@media screen and (min-width: 760px) {

    .logo {
        float: left;
        background-color: #222;
        padding: 10px;
    }

    .logo img {
        width: 70px;
        padding: 40px 0;
        margin: 40px;
        margin-left: 70px;
    }

    /* adjustment for desktop ver.     */
    .nav {
        height: 120px;
        white-space: nowrap;
        gap: 3%;
        font-size: 1rem;
    }

    nav li {
        display:inline-block;
        margin-right: calc(5% - 2px);
        margin-top: 35px;
    }

    .head {
        width: 80%;
        height: auto;
    }

    /* using float property for img*/
    .about_us img {
        float: left;
        max-width: 40%;
        padding: 5px 0;
        margin: 5px 0 5px 80px;
    }

    /* using float property for h2 and p*/
    .about {
        width: 40%;
        float: right;
        margin-right: 80px;
    }
    
    .about_us {
        display: table;
        min-height: 250px;
        height: auto;
    }
    
    /* setting for grid properties */
        .dt {
            grid-area: dt;
        }
        
        .mk {
            grid-area: mk;
        }

        .vd {
            grid-area: vd;
        }
        
        .wd {
            grid-area: wd;
        }

        .pt {
            grid-area: pt;
        }
        
        .services div {
            margin: 5px;
            padding-bottom: 20%;
        }

        .services img {
            width: 100%;
            height: auto;
        }

        .services {
            display: grid;
            margin-left: 5%;
            max-width: 90%;
            gap: 5px;
            grid-template-columns: repeat(6, 1fr); 
            grid-template-areas: 
                "dt dt dt mk mk mk"
                "vd vd wd wd pt pt" 
                ;
        }

        .services div {
            position: relative;
        }

        .services button {
            width: 90%;
            position: absolute;
            top: 85%;
            left: 2%;
        }

    .our_vision article {
        height: auto;
        margin: 0 40px;
    }

    /* remove the margin */
    .team .two,.four {
        margin-bottom: 0px;
    }
    
    /* flexbox property for team section */
    .team {
        margin-left: 5%;
        max-width: 90%; 
        display: flex;
        flex-direction: row; /*column, it would be horizontal*/
        flex-wrap: wrap; /*nowrap*/
        justify-content: space-between; /*do not change order, but change the strating point + around=same margin vs evenly=same interval vs between= no margin at the end*/
        align-items: stretch;
    }

    /* fill container with the same aspect ratio */
    .team img {
        object-fit: cover;     
    }

    /* flexbox setting */
        .one {
            flex-basis: 50%;
            order: 1;
            margin: 0;
        }

        .two {
            flex-basis: 50%;
            order: 2;
            margin: 0;
        }

        .three {
            flex-basis: 50%;
            order: 4;
        }
        
        .four {
            flex-basis: 50%;
            order: 3;
        }

    /* organization of parts using flexbox property */
        .contact {
            display: flex;
            flex-direction: row; /*column, it would be horizontal*/
            flex-wrap: wrap; /*nowrap*/
            align-items: flex-start;
            width: 93%;
            gap: 10px;
            margin-left: 5%;
        }

        h2 {
            margin-left: 5%;
        }

        .message {
            flex-basis: calc(48% - 4px);
            order: 1;
        }

        .location {
            flex-basis: 49%;
            order: 2;
        }

        .hour {
            flex-grow: 2;
            order: 3;
            max-width: 96%;
        }
}
